@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

/* 1. Configuração do Tema Personalizado */
@theme {
  /* Ao declarar variáveis aqui, o Tailwind v4 cria automaticamente */
  /* as classes utilitárias: bg-primary, text-primary, border-primary, etc. */
  
  --color-primary: #5048e5;
  
  --color-background-light: #f6f6f8;
  --color-background-dark: #121121;

  /* Sobrescreve a fonte sans padrão para Inter (se importada) ou sistema */
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* 2. Variáveis CSS Reativas (Light Mode Padrão) */
:root {
  /* Usamos a variável de cor que definimos acima */
  --background: var(--color-background-light); 
  --foreground: #171717;
}

/* 3. Dark Mode via Classe (.dark) */
/* Isso é crucial: O 'next-themes' adiciona a classe .dark na tag <html> */
/* quando você clica no botão. O CSS abaixo reage a isso. */
.dark {
  --background: var(--color-background-dark);
  --foreground: #ededed;
}

/* 4. Estilos Globais */
body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  
  /* Suavização de fonte para ficar profissional */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}